@import "tailwindcss";

@theme {
  --color-graphite-900: #0F1115;
  --color-graphite-800: #18181B;
  --color-graphite-700: #27272A;

  --color-velvet: #522B47;
  --color-velvet-light: #7B4467;
  --color-velvet-deep: #351B2E;

  --color-parchment-50: #FDFCFB;
  --color-parchment-100: #F4F2F0;
  --color-parchment-200: #E6E2DE;

  --color-success: #2D4B41;
  --color-warning: #8C6239;
  --color-error: #7C2D2D;

  --font-display: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--color-graphite-900);
  color: var(--color-parchment-50);
  font-family: var(--font-sans);
}